# motan-client
*.lock
examples/z*
examples/pb_path/PB_CLASS_PATH/*
vendor

# textmate
*.tmproj
*.tmproject
tmtags

# OSX
.DS_Store
.idea
._*
.Spotlight-V100
.Trashes
*.swp
pretty/zj
tests/coverage/

# weibo-meshx
mesh-run-path/*
server-run-path/*x
weibo-mesh
mesh-logs/*
mtserver
tmesh
agent.pid
agent_runtime/*
snapshot/*
logs/*
cmd/tmesh/debug/*
cmd/tmesh/snapshot/*
cmd/tmesh/agent_runtime/*

# debugger
.gdb*
